
Netflix_dataset/Netflix_prize_data.zip
Netflix_dataset/Netflix_prize_data/combined_data_1.txt
Netflix_dataset/Netflix_prize_data/combined_data_2.txt
Netflix_dataset/Netflix_prize_data/combined_data_3.txt
Netflix_dataset/Netflix_prize_data/combined_data_4.txt
Netflix_dataset/Netflix_prize_data/probe.txt
Netflix_dataset/Netflix_prize_data/qualifying.txt
